.header{
    width: 100%;
    height: 100vh;
    background: url("../../../assets//media/bgpic.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}
.container{
   position: relative;
}
.counter{
    position: absolute;
    top: 20em;
    left: 4em;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.time{
    color: #ffff;
    font-size: 6em;
    font-weight: 500;
    
  text-shadow: 2px 0 0 #252525, -2px 0 0 #252525, 0 2px 0 #252525, 0 -2px 0 #252525, 1px 1px #252525, -1px -1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525;
}
.title{
   padding-bottom: 2em;
   color: #DFC8A3;
   font-size: 2em;
}
 
.text{
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;

}
.text span{
    font-size: 4em;
    color: #C7B4A8;
}
.text small{
    font-size: 1.6em;
    color: #9A7A64;
}
.btn{
    width: 18.4em;
}

@media screen and (max-width : 765px) {
 .title{
  font-size: 4em;
}
.title{

 font-size: 1.7em;
}
.text{
    padding-bottom: 0.8em;
}
.text span{
    font-size: 3.2em;
    
}
.text small{
    font-size: 1.3em;
}
.btn{
    width: 18.4em;
}
.btn span{
    
}
}
@media screen and (max-width : 500px) {
    .counter{
        bottom: 6em;
        left: 5em;
    }
 .time {
  font-size: 5em;
}
.text span{
    font-size: 4em;
   
}
}
@media screen and (max-width : 468px) {
 .counter {
 bottom: 30%;
 left: 4em;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
}
.title{
    padding-bottom: 1.5em;
}
.time {
    font-size: 4.5em;
  }
  .text span{
      font-size: 3.5em;
     
  }
}
@media screen and (max-width : 416px) {
 .counter {
 left: 3em;
 bottom: 30%;
}
}
@media screen and (max-width : 400px) {
 
.counter{
top: 27em;
left: 0;     
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
 .title{
     font-size: 1em;
 }
 .time{
     font-size: 4em;
 }
 .text{
     text-align: center;
 }
 .text span{
     font-size: 4em;
    
 }
 .text small{
    padding: 0.3em;
 }

}
@media screen and (max-width : 338px) {
    .title{
        font-size: 1em;
    }
    .time{
        font-size: 3em;
    }
    .text{
        text-align: center;
    }
    .text span{
        font-size: 2.5em;
       
    }
    .text small{
       padding: 0.3em;
       font-size: 1em;
    }
    
}
 