
@import url("./fonts.css");
@import url("./reset.css");
@import url("./variables.css");
*{
    box-sizing: border-box;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
body{
    direction: rtl;
    padding: 0;
    margin: 0;
    font-family: "iransans-regular";
    font-size: 1em;
    font-weight: normal;
    line-height: 1em;
    color: #000;
    width: 100%;
    
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 92rem;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
}
.-rotate{
    transform: rotate(90deg);
}
