.new-card{
    width: 21em;
    height: 23.4em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    border: 1px solid #eee;
    color: #000;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.8s;

}
/* .new-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */
.image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.image img{
    width: 100%;
    height: 100%;
    
}
.new-card__info{
    display: flex;
    flex-direction: column;
    line-height: 1.2em;
}
.new-card__info .des {
    color: #656565;
    font-size: 0.8em;
    padding: 0 1em;
    line-height: 1.2em;
}
.new-card__info .title {
    color: #000;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 1.3;
    padding:1em;

}
ion-icon{
    text-align: right;
    margin-left: auto;
    padding: 0 0.4em;
    font-size: 1.5em;
}
 
.new-card__info .des{
color: #656565;
font-size: 0.8em;
padding: 0 1em;
line-height: 1.2em;
}
.new-card__info .more{
    transform: translateX(43%);

}

.new-card__info:hover .more{
    transform: translateX(10%);
}
.new-card__info .more-info{
    padding: 1em 0;
    color: #c4c4c4;
}
 
.new-card__info:hover .more ion-icon{
    color: #9DE0D6;
}
.new-card__info span:last-child{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding-right: 2em;
transition: 0.8s;

}
@media screen and (max-width : 400px) {
  .new-card{
      width: 30em;
  }  
.new-card__info .title {
    padding: 0.4em;
    font-size: 0.8 !important;
}
.new-card__info .more-info{
    padding: 0.7em 0.4em;
}
.new-card__info .more{
   
    transform: translateX(60%);

}
.new-card__info .des{
    padding: 0.5em 0.4em;
}

}