@keyframes scale-x {
  from {
    transform: scaleX(0.5);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-y {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
.search {
  position: relative;
}
.search-button ion-icon {
  color: var(--light-color);
  font-size: 2em;
}
.search-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 999;
  right: 0;
  padding: 5rem;
  display: flex;
  justify-content: center;
}
.search-modal .content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: max-content;
  min-width: 350px;
}

.search-modal .content label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #fff;
  border-radius: 2rem;
  transform: scaleX(0.5);
  padding: 0 1rem 0 5px;
  animation: scale-x forwards 0.5s cubic-bezier(0.75, -0.5, 0, 1.75);
}
.search-modal .content label input {
  flex: 1;
  height: 100%;
  outline: 0;
  font-family: "iransans-regular";
}
.search-modal .content label .submit-search {
  border: 1px solid;
  width: 40px;
  height: 40px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 100%;
}
.search-modal .content label .submit-search ion-icon {
  color: white;
}

.search-modal .content .drop-down {
  width: 100%;
  min-height: 200px;
  background-color: white;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  animation: scale-y 0.3s ease-out forwards;
  transform-origin: top;
}
.search-modal .content .drop-down span {
  font-size: 0.875em;
  opacity: 0.5;
}

.search-modal .overlay {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(41, 41, 41, 0.8);
  opacity: 0;
  animation: fade-in 0.5s forwards;
}

@media screen and (max-width: 768px) {
  .search-modal {
    padding: 2rem;
  }
}
