.awards{
    background: url("../../../assets/media/wallls.com_160287.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
 
}
.awards > .container{
    display: flex;
    flex-direction: row;
}
.awards-title{
   position: absolute;
   direction: ltr;
   margin: 3em;
   top: 4em;
   left: 7em;
}
.awards-title span{
    font-size: 1.8em;
    color: #fff;
}
.awards-title h3{
    font-size: 2em;
    color: #ffffff;
    padding-top: 1em;
    position: relative;
    z-index: 3;
    opacity: 1;
}
.awards-title h3::after{
    width: 100%;
    height: 10px;
    content: "";
    background-color: #9de0d6;
    opacity: 0.9;
    padding: 8px; 
    position: absolute;
    right: 0;
    bottom: 10px;
   z-index: -1;
}
.award{
 width: 14em;
 height: 20em;
 background-color: #fff;
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 text-align: center;
 position: absolute;

}
.award p{
    color: #212121;
    padding: 1.2em;
    font-weight: bold;
}
.desc{
    width: 100%;
    color: #212121;
    border-top: 1px solid #eee;
   flex-direction: column;
   display: flex;
   text-align: right;
   justify-content: center;
   padding: 2em 1em;
}
.desc span{
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 0.7em;
 
    
}
.desc small{
    font-size: 0.2;
    color: #979797;
}
.award img{
    width: 5em;
    margin-top: 2em;
}
.awards{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
   
}
.items{
    width: 70%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.two{
  top: 5%;
  left: 33%;

}
.one{
    top: 8%;
    left: 60%;
}


@media screen and (max-width : 1400px) {
 .one{
  left: 45%;
    }
 .two {
 
}
}
@media screen and (max-width : 1200px) {
 .two {
  left: 20%;
}
 .one{
   left:52%;  
 }
}
@media screen and (max-width : 1100px) {
 .one {
  left: 54%;
}
.awards-title{
    left: 3em;
}
}
@media screen and (max-width : 1066px) {
.one {
    left: 57%;
    top: 14%;
 }
}
@media screen and (max-width : 992px) {
.award{
 width: 12em;
 height: 16em;
 background-color: #fff;
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 text-align: center;
 position: absolute;

}
.award img{
    width: 3.5em;
    margin-top: 2em;
}
.desc{
   
   padding: 1em;
}
.desc small{
  font-size: 0.8em;
}
.desc span{
    color: #000;
    font-size: 0.9em;
}
.awards-title{
    margin: 0;
}

.awards-title h3{
    font-size: 1.6em;
    color: #ffffff;
    padding-top: 1em;
    position: relative;
    z-index: 3;
    opacity: 1;
}
.awards-title span{
    font-size: 1.6em;
    color: #fff;
}
.awards-title h3::after{
    width: 100%;
    height: 5px;
    content: "";
    background-color: #9de0d6;
    opacity: 0.9;
    padding: 8px; 
    position: absolute;
    right: 0;
    bottom: 10px;
   z-index: -1;
}

}
@media screen and (max-width : 855px) {
 .one {
 left: 59%;
 top: 12%;
}

}
@media screen and (max-width : 830px) {
 .one {
 left: 54%;
}
.two{
    left: 15%;
}
}
@media screen and (max-width : 794px) {
 .one {
  left: 61%;
}
}
@media screen and (max-width : 794px) {
  .one {
     left: 54%;
    }
    
}
@media screen and (max-width : 768px) {
  .container{
      display: flex;
      flex-direction: column;
      
  }
  .awards-title h3,  .awards-title span{
   font-size: 1.4em;
}
/* .awards-title h3::after{
    width: 100%;
    height: 2px;
    content: "";
    background-color: #9de0d6;
    opacity: 0.9;
    padding: 7px; 
    position: absolute;
    right: 0;
    bottom: 10px;
   z-index: -1;
} */
.two{
    left: 13%;
}
}
.items{
  margin: 13em auto;
}

@media screen and (max-width : 745px) {
 .one {
 top: 14%;
}
.award{
 width: 11em;
 height: 16em;
 background-color: #fff;
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 text-align: center;
 position: absolute;
}
}


@media screen and (max-width : 576px) {
 .awards > .container{
     display: flex;
     flex-direction: column;
    }
 .award {
 width: 11em;
 height: 14em;
}
.one{
    top: 29%;
}
.two{
   top: 30%;
}
}
@media screen and (max-width : 680px) {
    .award {
        width: 10em;
        height: 14em;
       }
}
@media screen and (max-width : 620px) {
    .two {
        left: -8%;
        top: 28%;
    }
    .one {
        top: 17%;
        left: 38%;
    }
}
@media screen and (max-width : 580px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2em;

    }
    .items{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: unset;
        width: calc(100% - 4em);
        margin: 0 auto;
    }
    .award{
        position: unset;

    }
    .two {
        left: -8%;
        top: 28%;
    }
    .one {
        top: 17%;
        left: 38%;
        margin-top: 0;
        
    }
}
@media screen and (max-width : 422px) {
 .items {
 margin: 0 auto;
 justify-content: space-around;
 width: calc(100% - 2em);

}
}
@media screen and (max-width : 370px) {
 .items {
    width: calc(100% - 1em);
    margin: 0 auto;
}

}
@media screen and (max-width : 334px) {
 .items {
 
}
.award{
    width:130px;
}
}