.awards{
    background: url("../../../assets/media/wallls.com_160287.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
 
}
.awards > .container{
    display: flex;
    flex-direction: column;
}
.awards-title{
   padding: 1em;
   direction: ltr;
   top: 4em;
   left: 7em;
}
.awards-title span{
    font-size: 1.8em;
    color: #fff;
}
.awards-title h3{
    font-size: 2em;
    color: #ffffff;
    margin-top: 1em;
    position: relative;
    z-index: 3;
    opacity: 1;
    display: block;
    
    width: max-content;
}
.awards-title h3::after{
   width: 100%;
    height: 10px;
    content: "";
    background-color: #9de0d6;
    opacity: 0.9;
    padding: 8px; 
    position: absolute;
    right: 0;
    bottom: 10px;
   z-index: -1;
}
.award{
 width: 14em;
 height: 20em;
 background-color: #fff;
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 text-align: center;
 margin-top: 2em;
 

}
.award-title{
    display: flex;
    flex-direction: column;
}
.award-title p{
    color: #212121;
    padding: 1.2em;
    font-weight: bold;
}
.desc{
    width: 100%;
    color: #212121;
    border-top: 1px solid #eee;
   flex-direction: column;
   display: flex;
   text-align: center;
   justify-content: center;
   padding: 2em 1em;
}
.desc span{
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 0.7em;
    
}
.desc small{
    font-size: 0.2;
    color: #979797;
}
.award img{
    width: 5em;
    margin-top: 2em;
}
.awards{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
   
}
.items{
    width: 70%;
    
    /* padding-top: 3em; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.award-one{
    margin-right: 1.4em; 

}
.award-two{
  margin-top: 5em;
}

@media screen and (max-width : 992px) {
 .awards-title {
  margin: 1em;
}
}

@media screen and (max-width : 768px) {
 .awards > .container {
    justify-content: center;
    align-items: self-start;
}
.items{
    width: 100%;
    margin-top: 0.4em;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.award{
    width: 14em;
    height: 18em;
    padding: 0;
    margin: 0 0.7em;

}
.awards-title {
    margin: 0em 1em;
  }
  .desc span{
      font-size: 1.1em;
  }
  .desc small {
      font-size: 0.98em;
  }
  .award-two{
      margin-top: 3em;
  }
  .desc{
      padding: 1.2em 0.5;
  }
  
}

@media screen and (max-width : 576px) {
.items{
        margin: 2em auto;
    }
    .desc{
        padding: 1.3em 0.6em;
    }
.desc span {
        font-size: 1em;
        padding-bottom: 0.7em;
    }
    .desc small{
        font-size: 0.8em;
    }
  .award-title img{
      width: 3.7em;
  }
 .award {
    width: 12em;
    height: 14em;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin : 0 0.4em;
}
.award-two{
    margin-top: 2.4em;
}


.awards-title h3 , .awards-title span{
    font-size: 1.7em;
}
.award-title p{
    font-size:0.9em;
}
.award-title img{
    margin-top: 0.7em;
}
.desc{
    padding: 1em 0.5em;
}
}
@media screen and (max-width : 460px) {
    .awards{
        height: 85vh;
    }
   
 .items {
  flex-direction: column;
  margin: 0.5em auto;
}
.award{
    height: 9em;
}
.award{
    width: 16em;
    padding: 0.5em;
    height: 10em;
    flex-direction: row;
    margin: 0.6em auto;
}
.award .desc{
    border-top: none;
    border-right: 1px solid #eee;
}
.award-title {
    padding: 1em;
    font-size: 1em;
    align-items: center;
}
.award-title h3, .award-title span{
font-size: 1.1em;
}
.award-title h3::after{
    height: 3px; 
    opacity: 0.9;
    padding: 4px; 
}
.award-title img{
    width: 3.4em;
}

.award-title p{
    padding: 0.6em 0;
}
}
@media screen and (max-width : 281px) {
 .award {
 width: 13em;
}
.items{
    margin: 1em auto;
}
}